body {font-family: Arial;}
.day {
width:100px;
height:100px;
border:1px solid #ccc;
display:inline-block;
margin:5px;
cursor:pointer;
}
.gray {background:gray;color:white;}
.white {background:white;}
